
div.nameSite{
	color: black;
	text-align: center;
	text-shadow: 5px 5px 5px gray;
	margin-top: 1%;
	background-color: #7fc6a4;
}

span.searchBut{
	background-image: url("../images/search.png");
}

div.myheader{
	box-shadow: 10px 5px 5px gray;
	padding-bottom: 0.5%;
	padding-top: 0.5%;
	margin-bottom: 2.5%;
	background-color: #d5ecd4;
}

div.myfooter{

	box-shadow: 10px 5px 5px gray;
	background-color: #d5ecd4;
}

body{
	background-color: #81a094;
}

.homebut{
	background:url('/images/homebutton.png');
	width: 35%;
	height: 100%;
	background-size:100% 100%;
	position: absolute;
	margin-top: 3%;
	opacity: 0.5;
}

.mybut{
	width: 100%;
	box-shadow: 10px 5px 5px gray;
	margin-top: 5%;
}

img.imgSearch{
	width : 20%;

}

.btn-primary{
	background-color: #99ddc8;
	border-color: #99ddc8;
}

.mysearchlist{
	color:black;
	margin: 1%;
	margin-left: 20%;
	margin-right: 20%;
	border-style: ridge;
	background-color: #775b59;
	border-width: 5px;
	box-shadow: 5px 5px 5px gray;

}

.mymenulist{
	margin-top: 2%;
	margin-bottom: 2%;
	border-style: ridge;
	border-width: 5px;
	color:black;
	background-color: #775b59;
	box-shadow: 5px 5px 5px gray;

}


.mydishlink{
	margin:1%;
	color : black;
	text-align: right;
	background-color: #7fc6a4;
}

.mybadgename{

	margin-bottom: 10%;
	border-radius: 15px;
	border-width: 5px;
	border-style: inline;
	background-color: #7fc6a4;
	word-wrap: normal;
	display: inline-block;
}

.mybadgesearch{
	align-self: center;

}

.carousel-item > div {
  float: left;
}
.carousel-by-item [class*="cloneditem-"] {
  display: none;
}

.myHoursDiv{
	background-color: white;
	border-width: 1px;
	border-style: solid;
}

.myDishDetails{
display: none;
position: absolute;
z-index:10;
background-color: white;
border-width: 1px;
border-style: solid;
margin-top: -3%;
margin-left: -50%;
width:60%;
}

.mypersinfoform{
	margin-left:10%;
	margin-right:10%;
	border-width: 3px;
	border-style: ridge;
	padding: 5%;

	background-color: #6b6054;
	max-height: 100%;
	max-width: 80%;
	height: 100%;
}

.listInfoPers{
	border-style:none;
	background-color:#d5ecd4;
	border-width:1px;
	box-shadow: 10px 5px 5px gray;
	font-size: 200%;
}




@media (max-width: 575.98px) {
	html{
			font-size:50%;
	}
	.mysearchlist, .mybadgename{
			font-size: 100%;
	}
}

@media (min-width: 575.98px) {
	html{
			font-size:50%;
	}
	.mysearchlist, .mybadgename{
			font-size: 150%;
	}
}

@media (min-width: 767.98px) {
	html{
			font-size:60%;
	}
	.mysearchlist, .mybadgename{
			font-size: 150%;
	}
	.mybut{
		margin-top: 0%;
	}
}
@media (min-width: 1020px) {
	html{
			font-size:80%;
	}
	.mysearchlist, .mybadgename{
			font-size: 150%;
	}
}
@media (min-width: 1250px) {
	html{
			font-size:100%;
	}
	.mysearchlist, .mybadgename{
			font-size: 150%;
	}
}
